
.articles-list {
    position: relative;
    background-color: $bg-color;
    padding-bottom: 5px;
}

.articles-list__header {
    min-height: 350px;
    padding: {
        top: 4.5rem;
        bottom: 4.5rem;
        left: 0;
        right: 0;
    };
    background: linear-gradient(45deg, #fd81b5 0%, #c961f7 50%, #8089ff 100%);

    .title {
        width: 400px;
    }
}

.articles-block {
    padding: {
        top: 2rem;
        bottom: 2rem;
        right: 2rem;
        left: 2rem;
    };
    background-color: $color-white;
    margin-bottom: 2.5rem;
    transition: box-shadow 0.35s ease-out;
    box-shadow: 0 1px 3px rgba(0, 9, 128, 0.05), 0 2px 5px rgba(0, 9, 128, 0.035);
    overflow: hidden;
    border-radius: .5rem;

    &:hover {
        box-shadow: 0 5px 10px rgba(0, 9, 128, 0.035), 0 7px 18px rgba(0, 9, 128, 0.05);
    }
}

.articles-block__header {
    display: flex;
    justify-content: flex-start;
    font-size: .95rem;;
    font-weight: 700;
}

.articles-block__author {
    text-decoration: none;
    color: $color-grey;
}

.articles-block__title {
    color: $color-lilac;
    font-size: 2rem;
    font-family: $source;
    margin-bottom: .35rem;
}

.articles-block__date {
    color: $color-grey-exlight;
}

.articles-block__announce {
    color: $color-grey;
}

.articles-block__read {
    background: linear-gradient(45deg, $color-lilac 0%, $color-blue 100%);
    box-shadow: 0 7px 15px rgba(0, 9, 128, 0.05), 0 12px 28px rgba(0, 9, 128, 0.075), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 1px rgba(0, 0, 0, 0.075);
}
