
.articles-list {
    position: relative;
}

.articles-list__header {
    min-height: 350px;
    padding: {
        top: 4.5rem;
        bottom: 4.5rem;
        left: 0;
        right: 0;
    };
    background: linear-gradient(45deg, #fd81b5 0%, #c961f7 50%, #8089ff 100%);

    .title {
        width: 400px;
    }
}

.articles-block {
    padding: 1.8rem 1rem 1rem 2rem;
}

.articles-block__header {
    display: flex;
    justify-content: flex-start;
    font-size: .95rem;;
    font-weight: 700;
}

.articles-block__author {
    text-decoration: none;
    color: $color-grey;
}

.articles-block__title {
    color: $color-lilac;
    font-size: 2rem;
    font-family: $source;
    margin-bottom: .35rem;
}

.articles-block__date {
    color: $color-grey-exlight;
}

.articles-block__announce {
    color: $color-grey;
}

.articles-block__read {
    background: linear-gradient(45deg, $color-lilac 0%, $color-blue 100%);
    box-shadow: 0 7px 15px rgba(0, 9, 128, 0.05), 0 12px 28px rgba(0, 9, 128, 0.075), inset 0 1px 1px rgba(255, 255, 255, 0.1), inset 0 -1px 1px rgba(0, 0, 0, 0.075);
}
