
.write-form__block {
    margin-bottom: 1.5rem;

    &.write-form__block--col-l {
        width: 65%;
    }
}

.write-form__input {
    height: 38px;
    width: 100%;
    padding: {
        right: .8rem;
    }
    line-height: 37px;
    border: none;
    border-bottom: 1px solid #e0e0e0;
    outline: none;

    &:focus + .write-form__line {
        height: 3px;
    }
}

.write-form__block-line {
    position: relative;

        .write-form__line {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: green;
    }
}

.write-form__label {
    font-size: .8rem;
    color: $color-label;
}

.write-form__content {
    min-height: 8rem;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    padding: {
        bottom: .8rem;
        right: 2rem;
    }
    border: none;
    border-bottom: 1px solid #e0e0e0;
    outline: none;

    &:focus + .write-form__line {
        bottom: 2px;
        height: 3px;
    }
}

.write-form__wrap-content {
    margin-bottom: 1.5rem;
    padding-top: 1rem;

    .write-form__label {
        display: block;
        margin-bottom: 1rem;
    }
}
.write-form__wrap-btn {
    text-align: center;
}

.write-form__btn {
    //background: linear-gradient(45deg, #19d9b4 0%, #92d275 100%);

    &[disabled] {
        border: none;
        background-color: $color-grey-exlight;
        cursor: no-drop;
    }
}