html {
    height: 100%;
    font-size: 16px;
}

body {
    min-height: 100vh;
    font-style: normal;
    font-weight: 400;
    background-color: $color-white;
    font-size: 1rem;
    position: relative;
    min-height: 100%;
    color: $color-grey-darkness;
    font-family: $open;
}

.container {
    width: 75%;
    max-width: 1170px;
    margin: 0 auto;
}

.lr-inner-container {
    width: calc(100% - 300px);
    padding: 25px 35px 50px;
}

.lr-container {
    width: 74%;
    margin: {
        top: 50px;
        bottom: 50px;
        left: auto;
        right: auto;
    };
}