{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Aleks Basko">
    <meta name="copyright" content="Все права принадлежат Aleks Basko">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="shortcut icon" href="../../image/icon/favicon.png" type="image/png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Source+Sans+Pro:400,700&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style/main.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>

    <div class="lr-preloader"></div>
    {% include "components/login.html" %}

    {% block content %}
    {% endblock %}


    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>