<div class="comment__smile">
    <div class="comment__smile-btn"></div>
    <div class="smile-block">
        <span class="smile-block__item">
            <img class="smile-block__img" src="image/emoji/emoji_1.png" alt="#">
        </span>
        <span class="smile-block__item">
            <img class="smile-block__img" src="image/emoji/emoji_2.png" alt="#">
        </span>
        <span class="smile-block__item">
            <img class="smile-block__img" src="image/emoji/emoji_3.png" alt="#">
        </span>
        <span class="smile-block__item">
            <img class="smile-block__img" src="image/emoji/emoji_4.png" alt="#">
        </span>
        <span class="smile-block__item">
            <img class="smile-block__img" src="image/emoji/emoji_5.png" alt="#">
        </span>
        <span class="smile-block__item">
            <img class="smile-block__img" src="image/emoji/emoji_6.png" alt="#">
        </span>
        <span class="smile-block__item">
            <img class="smile-block__img" src="image/emoji/emoji_7.png" alt="#">
        </span>
        <span class="smile-block__item">
            <img class="smile-block__img" src="image/emoji/emoji_8.png" alt="#">
        </span>
        <span class="smile-block__item">
            <img class="smile-block__img" src="image/emoji/emoji_9.png" alt="#">
        </span>
    </div>
</div>
