{#<h2>Reg</h2>#}
{##}
{#{% if username %}#}
{#    <h2>Hello {{ username }}</h2>#}
{#{% else %}#}
{#    <form action="/auth/login/" method="POST">#}
{#        {% csrf_token %}#}
{#        <input type="text" name="name">#}
{#        <input type="password" name="password">#}
{#        <button>Войти</button>#}
{#    </form>#}
{#{% endif %}#}


<div class="login">
    <div class="menu__btn btn login__btn" id="menu-btn">
        <span>Log in</span>
    </div>

    {#            <div class="menu__btn btn">#}
    {#                <span>Menu</span>#}
    {#            </div>#}
</div>
{#        <div class="menu">#}
{#            <a href="" class="menu__item">Войти</a>#}
{#            <a href="" class="menu__item">Регистрация</a>#}
{#        </div>#}
<div class="menu" id="menu-block">
    <a href="" class="menu__item">Мой профиль</a>
    <a href="" class="menu__item">Написать статью</a>
    <a href="" class="menu__item">Мне понравились</a>
    <a href="" class="menu__item">Выйти</a>
</div>