{% extends 'base.html' %}

{% block content %}
    <h1>{{ article.article_title }}</h1>

    <p>{{ article.article_text }}</p>
    <p>{{ article.article_datet }}</p>
    <a href="/article/addlike/{{ article.id }}">Понравилось</a><span>{{ article.article_likes }}</span>

    <hr>
    <div class="comment-block" id="comment-block">
        {% for item in comments %}
            <div class="comment">
                <p>{{ item.comments_text }}</p>
                <span>end</span>
            </div>
        {% endfor %}
    </div>

    <form id="send-commit">
        {% csrf_token %}
        <label for="comment-text">sdvsdv</label>
        <textarea name="content" id="comment-text" cols="30" rows="10"></textarea>
        <button type="submit">Send</button>
    </form>
    <script>

        $('#send-commit').on('submit', function (e) {
            e.preventDefault();

            $.ajax({
                type: 'POST',
                url: '/articles/comment/',
                data: {
                    id: {{ article.id }},
                    content: $('#comment-text').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function (data) {
                    if ('errorSession' in data) {
                        {#                    $('#comment-block').append(data.errorSession);#}
                    }
                    $('#comment-block').append(data.html);
                    $('#comment-text').val('');
                }
            });
        });

        {#    var commentForm = document.getElementById('send-commit');#}
        {#        commentForm.addEventListener('submit', function(e){#}
        {#            e.preventDefault();#}
        {##}
        {#            var request = new XMLHttpRequest();#}
        {#            request.open('POST', '/comment/', true);#}
        {##}
        {#            request.onload = function() {#}
        {#              if (request.status >= 200 && request.status < 400) {#}
        {#               document.getElementById("myDiv").innerHTML = xmlhttp.responseText;#}
        {#                var resp = request.responseText;#}
        {#                var elem = document.getElementById('send-commit');#}
        {#                elem.innerHTML = resp;#}
        {##}
        {#              } else {#}
        {#                alert('super error');#}
        {#              }#}
        {#            };#}
        {##}
        {#            request.onerror = function() {#}
        {#              // There was a connection error of some sort#}
        {#            };#}
        {##}
        {#            request.send();#}
        {#        });#}
    </script>
{% endblock %}