{% extends 'base.html' %}

{% block content %}
    <div class="article">
        <header class="article__header">
            {% include "components/login.html" %}
            <div class="container">
                <h1 class="title">Name article</h1>
                <h1>{{ article.article_title }}</h1>
                <div class="article__author">Автор</div>
                <div>{{ article.article_datet }}</div>
            </div>
        </header>

        <section>
            <div class="container">
                <div class="article">
                    <h3 class="article__subtitle">Lorem ipsum dolor sit amet, consectetur</h3>
                    <div class="article__text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda commodi consectetur culpa
                        dignissimos dolorem inventore ipsa labore libero modi natus odit porro praesentium quae sunt,
                        voluptatum? Accusamus assumenda, at doloremque ducimus ex expedita fugit id, ipsam laboriosam
                        neque nostrum porro sapiente temporibus, ullam veritatis voluptas voluptate. Consequuntur
                        deserunt minus nesciunt vel. Ad, autem dicta doloribus est eveniet explicabo fugit maxime optio
                        perspiciatis quaerat quia sapiente? Accusamus aliquam amet dolor eos impedit neque sequi,
                        suscipit tenetur. Beatae cum cumque illo iste nobis, perspiciatis sapiente vel vitae voluptates!
                        Autem, dolorem doloremque eaque eveniet explicabo facere id illo laudantium optio perferendis,
                        quasi quidem sequi tempora veritatis voluptatibus. Accusantium ad, aliquam error eveniet fugiat
                        illum ipsa itaque officiis quas soluta totam veritatis vero, voluptatem. A assumenda autem
                        delectus, dolorem dolorum earum eligendi eos fugit impedit inventore iste itaque laboriosam
                        magni nam nisi non, officiis quidem quos reprehenderit tempore ullam unde vero voluptas. Beatae
                        commodi impedit ipsam iste itaque labore odio, optio quae quasi soluta? Ad atque consequuntur
                        deserunt dicta, dolorem eius illo laboriosam natus obcaecati odio perspiciatis quas repellendus
                        sequi similique ut voluptas voluptatem. Ab alias autem cupiditate deleniti dolorem dolores
                        dolorum eligendi et eveniet fugit, id iste iure labore laboriosam laudantium libero magnam
                        maiores molestiae non odit officiis reiciendis repellat reprehenderit tenetur totam ullam velit
                        veniam? Assumenda blanditiis laudantium maiores? A at debitis, delectus distinctio ducimus
                        exercitationem fuga in, ipsum magni minima numquam quia quisquam ratione saepe sapiente soluta
                        suscipit velit. Accusamus adipisci amet atque dolorum, harum id iusto laborum maiores molestiae
                        mollitia natus nemo nulla quam qui recusandae, sequi sit tenetur velit veritatis voluptate?
                        Alias, aperiam aspernatur debitis dolore enim error fuga fugiat fugit, illo nam obcaecati
                        officiis rem suscipit! Eos est mollitia natus neque sed. Ad debitis dolores impedit minus nam
                        quo ratione soluta voluptates? Beatae ducimus illo molestias quaerat sit.
                    </div>


                    <div class="article__likes">
                        <button id="liker">Понравилось:</button>
                        <span id="newslikes">{{ article.article_likes }}</span>
                    </div>


                    <div class="article__hr"></div>
                </div>
                <div class="comments" id="comment-block">
                    <h4 class="comments__title">Comments</h4>

                    {% for item in comments %}
                        <div class="comment">
                            {#                            <p>{{ item.comments_text }}</p>#}
                            <div class="comment__row row-flex">
                                <div class="comment__avatar"></div>
                                <div class="comment__block">
                                    <div class="comment__header row-flex">
                                        <div class="comment__author">
                                            Author Post
                                        </div>
                                        <div class="comment__date">
                                            12.12.12
                                        </div>
                                    </div>
                                    <div class="comment__text">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda commodi
                                        consectetur culpa
                                        dignissimos dolorem inventore ipsa labore libero modi natus odit porro
                                        praesentium quae sunt,
                                        voluptatum? Accusamus assumenda
                                    </div>
                                </div>

                            </div>

                            <span>end</span>
                        </div>
                    {% endfor %}
                </div>
                <div class="add-comment">
                    <h5 class="add-comment__title">Write your comment</h5>
                    <form id="send-commit">
                        {% csrf_token %}
                        <textarea name="content" id="comment-text" cols="30" rows="10"></textarea>
                        <button class="add-comment__btn btn" type="submit">Send</button>
                    </form>
                </div>

                <div>

                    {% include "components/comment-smile.html" %}
                    <div class="forum">
                        <div class="chat"></div>
                        <div class="d-comment">
                            <div class="comment__textarea" contenteditable="true"></div>
                            <div class="comment__smile">
                                <div class="comment__smile-btn"></div>
                                <div class="smile-block">
                    <span class="smile-block__item">
                        <img class="smile-block__img" src="image/emoji/emoji_1.png" alt="#">
                    </span>
                                    <span class="smile-block__item">
                        <img class="smile-block__img" src="image/emoji/emoji_2.png" alt="#">
                    </span>
                                    <span class="smile-block__item">
                        <img class="smile-block__img" src="image/emoji/emoji_3.png" alt="#">
                    </span>
                                    <span class="smile-block__item">
                        <img class="smile-block__img" src="image/emoji/emoji_4.png" alt="#">
                    </span>
                                    <span class="smile-block__item">
                        <img class="smile-block__img" src="image/emoji/emoji_5.png" alt="#">
                    </span>
                                    <span class="smile-block__item">
                        <img class="smile-block__img" src="image/emoji/emoji_6.png" alt="#">
                    </span>
                                    <span class="smile-block__item">
                        <img class="smile-block__img" src="image/emoji/emoji_7.png" alt="#">
                    </span>
                                    <span class="smile-block__item">
                        <img class="smile-block__img" src="image/emoji/emoji_8.png" alt="#">
                    </span>
                                    <span class="smile-block__item">
                        <img class="smile-block__img" src="image/emoji/emoji_9.png" alt="#">
                    </span>
                                </div>
                            </div>
                            <div class="d-comment__btn">Send</div>
                        </div>
                    </div>

                </div>


            </div>
        </section>

    </div>

    <script>

        $('#liker').click(function () {

            $.ajax({
                type: 'POST',
                url: '/like/',
                data: {
                    id: {{ article.id }},
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function (data) {
                    var newObj = $.parseJSON(JSON.stringify(data));
                    $('#newslikes').html(data.variable);
                }
            });
        })

        $('#send-commit').on('submit', function (e) {
            e.preventDefault();

            $.ajax({
                type: 'POST',
                url: '/articles/comment/',
                data: {
                    id: {{ article.id }},
                    content: $('#comment-text').val(),
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                success: function (data) {
                    if ('errorSession' in data) {
                        {#                    $('#comment-block').append(data.errorSession);#}
                    }
                    $('#comment-block').append(data.html);
                    $('#comment-text').val('');
                }
            });
        });

        {#    var commentForm = document.getElementById('send-commit');#}
        {#        commentForm.addEventListener('submit', function(e){#}
        {#            e.preventDefault();#}
        {##}
        {#            var request = new XMLHttpRequest();#}
        {#            request.open('POST', '/comment/', true);#}
        {##}
        {#            request.onload = function() {#}
        {#              if (request.status >= 200 && request.status < 400) {#}
        {#               document.getElementById("myDiv").innerHTML = xmlhttp.responseText;#}
        {#                var resp = request.responseText;#}
        {#                var elem = document.getElementById('send-commit');#}
        {#                elem.innerHTML = resp;#}
        {##}
        {#              } else {#}
        {#                alert('super error');#}
        {#              }#}
        {#            };#}
        {##}
        {#            request.onerror = function() {#}
        {#              // There was a connection error of some sort#}
        {#            };#}
        {##}
        {#            request.send();#}
        {#        });#}
    </script>
{% endblock %}