{% extends 'base.html' %}

{% block content %}
    <div class="write">
        <header class="write__header">
            <div class="login">
                <div class="menu__btn btn login__btn" id="menu-btn">
                    <span>Log in</span>
                </div>

                {#            <div class="menu__btn btn">#}
                {#                <span>Menu</span>#}
                {#            </div>#}
            </div>
            {#        <div class="menu">#}
            {#            <a href="" class="menu__item">Войти</a>#}
            {#            <a href="" class="menu__item">Регистрация</a>#}
            {#        </div>#}
            <div class="menu" id="menu-block">
                <a href="" class="menu__item">Мой профиль</a>
                <a href="" class="menu__item">Написать статью</a>
                <a href="" class="menu__item">Мне понравились</a>
                <a href="" class="menu__item">Выйти</a>
            </div>
            <div class="container">
                <h1 class="title">Name article</h1>
                <h1>{{ article.article_title }}</h1>
                <div class="article__author">Автор</div>
                <div>{{ article.article_datet }}</div>
            </div>
        </header>

        <section>
            <div class="container"></div>
        </section>
    </div>

    <div class="container">
        <section class="section--inner">
            <form action="/articles/createNewArticle/" method="POST" class="write-form">
                {% csrf_token %}
                <div class="write-form__row">
                    <div class="write-form__col write-form__col--sm">
                        <label for="articleTitle" class="write-form__label">Напишите главный заголовок</label>
                    </div>

                    <div class="write-form__col write-form__col--lg">
                        <input type="text" name="articleTitle" class="write-form__input">
                    </div>
                </div>

                <div class="write-form__row">
                    <div class="write-form__col write-form__col--sm">
                        <label for="articleSubTitle" class="write-form__label">Напишите под заголовок</label>
                    </div>

                    <div class="write-form__col write-form__col--lg">
                        <input type="text" name="articleSubTitle" class="write-form__input">
                    </div>
                </div>

                <div class="write-form__wrap-content">
                    <div>
                        <label for="articleContent" class="write-form__label">articleContent</label>
                    </div>
                    <textarea name="articleContent" id="" class="write-form__content"></textarea>
                </div>

                <div class="write-form__row">
                    <label for="articlePhoto" class="write-form__label">Прикрепите картинки</label>
                    <input type="file" name="articlePhoto">
                </div>

                <div class="write-form__wrap-btn">
                    <button class="write-form__btn btn">Напечатать</button>
                </div>
            </form>
        </section>

    </div>


{% endblock %}