{% extends 'base.html' %}

{% block content %}
    <div class="write">
        <header class="write__header">
            <div class="login">
                <div class="menu__btn btn login__btn" id="menu-btn">
                    <span>Log in</span>
                </div>

                {#            <div class="menu__btn btn">#}
                {#                <span>Menu</span>#}
                {#            </div>#}
            </div>
            {#        <div class="menu">#}
            {#            <a href="" class="menu__item">Войти</a>#}
            {#            <a href="" class="menu__item">Регистрация</a>#}
            {#        </div>#}
            <div class="menu" id="menu-block">
                <a href="" class="menu__item">Мой профиль</a>
                <a href="" class="menu__item">Написать статью</a>
                <a href="" class="menu__item">Мне понравились</a>
                <a href="" class="menu__item">Выйти</a>
            </div>
            <div class="container">
                <h1 class="title">Name article</h1>
                <h1>{{ article.article_title }}</h1>
                <div class="article__author">Автор</div>
                <div>{{ article.article_datet }}</div>
            </div>
        </header>

        <section>
            <div class="container"></div>
        </section>
    </div>

    <div class="container">
        <section class="section--inner">
            <form action="/articles/createNewArticle/" method="POST" class="write-form">
                {% csrf_token %}
                <div class="write-form__block write-form__block--col-l">
                    <div class="">
                        <label for="articleTitle" class="write-form__label">Напишите главный заголовок</label>
                    </div>

                    <div class="write-form__block-line">
                        <input type="text" name="articleTitle" class="write-form__input">
                        <span class="write-form__line"></span>
                    </div>
                </div>

                <div class="write-form__block write-form__block--col-l">
                    <div class="">
                        <label for="articleSubTitle" class="write-form__label">Напишите под заголовок</label>
                    </div>

                    <div class="write-form__block-line">
                        <input type="text" name="articleSubTitle" class="write-form__input">
                        <span class="write-form__line"></span>
                    </div>
                </div>

                <div class="write-form__wrap-content write-form__block-line">
                    <div>
                        <label for="articleContent" class="write-form__label">Основной текст статьи</label>
                    </div>
                    <textarea name="articleContent" id="" class="write-form__content"></textarea>
                    <span class="write-form__line"></span>
                </div>

                <div class="write-form__block">
                    <label for="articlePhoto" class="write-form__label">Прикрепите картинки</label>
                    <div class="file">
{#                        <input class="file__input" type="file" name="articlePhoto" multiple>#}
                        <button class="file__save">Save</button>
                        <div class="file__result">
{#                            <div class="file__exten">#}
{#                                <span class="file__exten-text"></span>#}
{#                                <div class="file__exten-icon"></div>#}
{#                            </div>#}
                        </div>
                        <div class="file__error">Вы можете добавить файлы только .html, .txt или .xml</div>
                    </div>
                </div>

                <div class="write-form__wrap-btn">
                    <button class="write-form__btn btn" disabled="disabled">Напечатать</button>
                </div>
            </form>
        </section>

    </div>


    <script>
        let fileBtn = document.querySelector('.file__save');
        let fileBlock = document.querySelector('.file__result');


        fileBtn.addEventListener('click', function (ev) {
            ev.preventDefault();
            let inputFile = document.createElement('input');
            inputFile.setAttribute("type", "file");
            inputFile.click();

            inputFile.addEventListener('change', function () {
                let exten = this.value.split('.').pop();

                if (exten === 'png' || exten === 'gif' || exten === 'jpg' || exten === 'jpeg') {
                    let fileExten = document.createElement('div');
                    fileExten.classList.add('file__exten');
                    let fileName = this.value.replace(/.*[\/\\]/, '');
                    fileExten.innerText = 'Имя: ' + fileName;

                    fileBlock.appendChild(inputFile);
                    fileBlock.appendChild(fileExten);
                }

                else {
                    alert('error');
                }
            });
        });
    </script>

{% endblock %}